---
---

body {
  padding-top: 60px;
  font-family: "PT sans", "Apple SD Gothic Neo", "Nanum Gothic", "NanumGothic", "Nanum Gothic Regular", "NanumGothicRegular", sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.56;
  letter-spacing: -0.6px;
}

a {
  outline: none;

  &:link,
  &:focus,
  &:hover {
    outline: none;
  }

  &:link,
  &:hover {
    text-decoration: none;
    color: #047acc;
  }
}

@import "styles";
