/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  vertical-align: bottom; }

@font-face {
  font-family: 'Euclid Flex';
  font-style: normal;
  font-weight: 700;
  src: url("../font/EuclidFlex-Medium.otf"); }
@font-face {
  font-family: 'Euclid Flex';
  font-style: normal;
  font-weight: 300;
  src: url("../font/EuclidFlex-Regular.otf"); }
@font-face {
  font-family: 'Euclid Flex';
  font-style: normal;
  font-weight: 100;
  src: url("../font/EuclidFlex-Light.otf"); }
@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: 100;
  src: url("https://ssl.pstatic.net/spacecloud/static/web/20160428/font/nanumbarungothicultralight.eot");
  src: url("https://ssl.pstatic.net/spacecloud/static/web/20160428/font/nanumbarungothicultralight.eot?#iefix") format("embedded-opentype"), url("https://ssl.pstatic.net/spacecloud/static/web/20160428/font/nanumbarungothicultralight.woff2") format("woff2"), url("https://ssl.pstatic.net/spacecloud/static/web/20160428/font/nanumbarungothicultralight.woff") format("woff"), url("https://ssl.pstatic.net/spacecloud/static/web/20160428/font/anumbarungothicultralight.svg#nanum-barun-gothic-ultralight") format("svg"); }
@font-face {
  font-family: "NanumBarunGothic";
  font-weight: 300;
  src: url("https://ssl.pstatic.net/spacecloud/static/web/20160428/font/NanumBarunGothic.eot");
  src: url("https://ssl.pstatic.net/spacecloud/static/web/20160428/font/NanumBarunGothic.eot?#iefix") format("embedded-opentype"), url("https://ssl.pstatic.net/spacecloud/static/web/20160428/font/NanumBarunGothic.woff") format("woff"), url("https://ssl.pstatic.net/spacecloud/static/web/20160428/font/NanumBarunGothic.woff2") format("woff2"), url("https://ssl.pstatic.net/spacecloud/static/web/20160428/font/NanumBarunGothic.svg#false") format("svg"); }
@font-face {
  font-family: "NanumBarunGothic";
  font-weight: 700;
  src: url("https://ssl.pstatic.net/spacecloud/static/web/20160428/font/NanumBarunGothicBold.eot");
  src: url("https://ssl.pstatic.net/spacecloud/static/web/20160428/font/NanumBarunGothicBold.eot?#iefix") format("embedded-opentype"), url("https://ssl.pstatic.net/spacecloud/static/web/20160428/font/NanumBarunGothicBold.woff2") format("woff2"), url("https://ssl.pstatic.net/spacecloud/static/web/20160428/font/NanumBarunGothicBold.woff") format("woff"), url("https://ssl.pstatic.net/spacecloud/static/web/20160428/font/NanumBarunGothicBold.svg#false") format("svg"); }
body {
  font-family: 'Euclid Flex', 'Apple SD Gothic Neo', 'NanumBarunGothic', 'Malgun Gothic', Sans-serif;
  font-size: 14px;
  letter-spacing: -.015em;
  word-spacing: .09em;
  word-break: keep-all;
  color: #222; }

h1 {
  font-weight: 700;
  font-size: 55px;
  letter-spacing: -.01em; }

h2 {
  font-weight: 700;
  font-size: 35px;
  letter-spacing: -.03em; }

h3 {
  font-weight: 100;
  font-size: 30px;
  letter-spacing: -.02em;
  color: white; }

h4 {
  font-weight: 100;
  font-size: 20px; }

h5 {
  font-weight: 100;
  font-size: 10px; }

p {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.65em; }

@media (max-width: 850px) {
  body {
    font-size: 14px; }

  h1 {
    font-size: 32px;
    line-height: 1.2em; }

  h2, h3 {
    font-size: 26px;
    line-height: 1.4em; }

  h4 {
    font-size: 16px;
    line-height: 1.2em; }

  p {
    font-size: 14px; }

  .footer-content,
  .footer-content-bold,
  .footer-list-title {
    font-size: 10px; }

  .footer-list .list-item {
    font-size: 10px; } }
.owl-stage {
  padding-bottom: 4px; }

.owl-item {
  width: 270px !important; }

.owl-dots {
  display: inline-block;
  margin-top: 25px; }
  .owl-dots .owl-dot {
    float: left;
    width: 8px;
    height: 8px;
    background-color: #dedede;
    margin: 0 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .owl-dots .active {
    background-color: #4adaaf; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container:before,
.container:after,
.row:before,
.row:after,
.col:before,
.col:after {
  content: " ";
  display: table; }

.container:after,
.row:after,
.col:after {
  clear: both; }

.container {
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.col {
  position: relative;
  height: 100%;
  display: inline-block;
  float: left;
  min-height: 1px; }

.col-12 {
  width: 100%; }

.col-11 {
  width: 91.66666666666666%; }

.col-10 {
  width: 83.33333333333334%; }

.col-9 {
  width: 75%; }

.col-8 {
  width: 66.66666666666666%; }

.col-7 {
  width: 58.333333333333336%; }

.col-6 {
  width: 50%; }

.col-5 {
  width: 41.66666666666667%; }

.col-4 {
  width: 33.33333333333333%; }

.col-3 {
  width: 25%; }

.col-2 {
  width: 16.666666666666664%; }

.col-1 {
  width: 8.333333333333332%; }

@media (max-width: 850px) {
  .container {
    padding-right: 20px;
    padding-left: 20px; }

  .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
    width: 100%; } }
/* default */
.headroom--unpinned {
  top: -60px !important; }

.mobile-show {
  display: none !important; }

.section {
  text-align: center;
  padding: 140px 0; }

.divider {
  width: 50px;
  height: 3px;
  background-color: #666; }

.item-bold {
  font-weight: 700; }

.header {
  font-weight: 300; }

.header-link {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
  color: #4adaaf;
  text-decoration: none;
  border-bottom: 1px solid #4adaaf; }

.header-description {
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1.6em;
  color: white; }

.btn-wrapper {
  position: relative;
  margin-top: 28px;
  padding-bottom: 4px;
  overflow: hidden;
  z-index: 100; }
.btn-appstore {
  float: left;
  width: 144px;
  height: 50px;
  background: url("../img/btn-appstore.png") no-repeat;
  background-size: cover;
  border: 1px solid #dedede;
  transition: 0.3s all ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05);
  -moz-box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05);
  box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05); }
.btn-googleplay {
  float: left;
  width: 149px;
  height: 50px;
  margin-left: 20px;
  background: url("../img/btn-googleplay.png") no-repeat;
  background-size: cover;
  border: 1px solid #dedede;
  transition: 0.3s all ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05);
  -moz-box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05);
  box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05); }
.btn-appstore:hover, .btn-googleplay:hover {
  border: 1px solid #666; }
.btn-arrow {
  width: 32px;
  height: 32px;
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
  line-height: 27px;
  border: 1px solid #4adaaf;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  -webkit-transition: all 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1000ms cubic-bezier(0.075, 0.82, 0.165, 1); }
  .btn-arrow a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #4adaaf;
    text-decoration: none; }
.btn-arrow:hover {
  background-color: #4adaaf; }
.btn-arrow a:hover {
  color: white; }
.btn-round {
  display: inline-block;
  padding: 12px 18px;
  font-weight: 300;
  color: #4adaaf;
  border: 1px solid #4adaaf;
  text-decoration: none;
  transition: 0.2s all ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
.btn-round:hover {
  color: white;
  background-color: #4adaaf; }

.alarm-new {
  float: left;
  width: 18px;
  height: 18px;
  margin-left: 6px;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  line-height: 18px;
  color: white;
  background-color: #4adaaf;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px; }

/* default End */
/* section-sub */
.section-sub {
  padding: 100px 0 90px; }
  .section-sub .header {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0;
    color: white; }
    .section-sub .header-description {
      margin-top: 8px;
      text-align: center;
      font-weight: 300;
      color: white; }
  .section-sub .divider {
    margin: 20px 0;
    background-color: white; }

/* section-sub End */
/* GNB */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  transition: 0.3s all ease;
  z-index: 9999; }
  .nav-logo {
    display: inline-block;
    width: 126px;
    height: 28px;
    background: url("../img/logo-white.png");
    background-size: cover;
    margin-top: 16px; }
  .nav .inline-list {
    float: right;
    margin-top: 21px; }
    .nav .inline-list-item {
      float: left;
      margin-left: 50px;
      font-weight: 500; }
      .nav .inline-list-item a {
        color: white;
        text-decoration: none;
        opacity: 0.3;
        transition: 0.25s all ease; }
      .nav .inline-list-item a:hover {
        color: white;
        opacity: 1; }
    .nav .inline-list .active {
      color: #4adaaf !important;
      opacity: 1;
      border-bottom: 2px solid #4adaaf; }
    .nav .inline-list .active:hover {
      color: #29b68c !important;
      opacity: 1;
      border-bottom: 2px solid #29b68c; }

.nav-scroll {
  background-color: white;
  border-bottom: 1px solid #dedede; }

.item-scroll {
  color: #222 !important; }

/* GNB End */
/* footer */
.footer {
  width: 100%;
  height: 70px;
  border-top: 1px solid #dedede;
  background-color: #222;
  overflow: hidden; }
  .footer-copyright {
    float: left;
    font-size: 14px;
    font-weight: 100;
    line-height: 66px;
    color: #ccc; }
  .footer-icon-wrapper {
    float: right;
    margin-top: 23px; }
    .footer-icon-wrapper .icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-left: 18px;
      transition: 0.2s all ease; }
      .footer-icon-wrapper .icon-fb {
        background: url("../img/icon-fb-light.png");
        background-size: cover; }
      .footer-icon-wrapper .icon-insta {
        background: url("../img/icon-insta-light.png");
        background-size: cover; }
      .footer-icon-wrapper .icon-blog {
        background: url("../img/icon-blog-light.png");
        background-size: cover; }
      .footer-icon-wrapper .icon-fb:hover {
        background: url("../img/icon-fb.png");
        background-size: cover; }
      .footer-icon-wrapper .icon-insta:hover {
        background: url("../img/icon-insta.png");
        background-size: cover; }
      .footer-icon-wrapper .icon-blog:hover {
        background: url("../img/icon-blog.png");
        background-size: cover; }

/* footer End */
/* narrow */
@media (max-width: 850px) {
  body {
    margin-top: 50px !important; }

  .section {
    padding: 75px 0; }

  .mobile-show {
    display: block !important; }

  .mobile-none {
    display: none !important; }

  .header-link, .header-description {
    font-size: 14px; }

  .btn-wrapper {
    display: inline-block;
    margin: 25px auto 0; }
  .btn-appstore {
    width: 127px;
    height: 44px; }
  .btn-googleplay {
    width: 131px;
    height: 44px;
    margin-left: 10px; }

  .section-sub {
    padding: 110px 0 50px; }
    .section-sub .header {
      font-size: 24px; }
      .section-sub .header-description {
        max-width: 250px;
        margin: 5px auto 0; }

  .nav {
    height: 110px;
    text-align: center;
    background-color: white;
    border-bottom: 1px solid #dedede; }
    .nav-logo {
      background: url("../img/logo-black.png");
      background-size: cover; }
    .nav .inline-list {
      float: none;
      display: inline-block;
      margin-top: 30px; }
      .nav .inline-list-item {
        font-size: 14px;
        margin-left: 24px; }
        .nav .inline-list-item a {
          color: #222; }
        .nav .inline-list-item a:hover {
          color: #222; }
      .nav .inline-list-item:first-child {
        margin-left: 0; }

  .nav:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #dedede;
    top: 60px; }

  .footer-copyright {
    font-size: 12px; }
  .footer-icon-wrapper .icon {
    width: 16px;
    height: 16px;
    margin-left: 8px; } }
/* narrow End */
body {
  overflow-x: hidden; }

/* section-intro */
.section-intro {
  position: relative;
  max-height: 800px;
  height: 800px;
  overflow: hidden;
  z-index: 15; }
  .section-intro .content-wrapper {
    margin-top: 310px;
    text-align: center;
    overflow: hidden; }
  .section-intro .content-kor {
    text-align: center;
    color: white;
    line-height: 1.5em; }
  .section-intro .content-kor span {
    position: relative; }
  .section-intro .content-slash {
    width: 50px;
    height: 1px;
    margin: 24px auto 35px;
    background-color: white;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .section-intro .content-eng {
    padding-bottom: 4px;
    color: #4adaaf; }
  .section-intro .btn-arrow {
    position: absolute;
    left: 50%;
    bottom: 30px;
    margin-left: -16px;
    line-height: 29px;
    color: white;
    border: 1px solid white;
    opacity: 0.4; }
  .section-intro .btn-arrow:hover {
    background-color: transparent; }
  .section-intro-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("../img/section-intro-bg.png") no-repeat;
    background-size: cover;
    z-index: -100; }
  .section-intro-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../img/section-intro-bg.png") no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -100; }

/* section-intro End */
/* section-app */
.section-app {
  position: relative;
  padding: 170px 0 160px;
  text-align: left; }
  .section-app .content-wrapper {
    padding-left: 10%; }
  .section-app .content-header {
    max-width: 400px;
    line-height: 1.3em; }
  .section-app .content-description {
    max-width: 400px;
    margin-top: 20px;
    line-height: 1.6em;
    color: #999; }
  .section-app .iphone-wrapper {
    position: relative;
    padding-left: 1%; }
  .section-app .iphone-img-rotate {
    position: absolute;
    top: -260px;
    width: 428.4px;
    height: 666.9px;
    background: url("../img/section-app-iphone-rotate.png") no-repeat;
    background-size: cover;
    -webkit-transition: all 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 10; }
  .section-app .iphone-shadow {
    position: absolute;
    top: 500px;
    width: 385px;
    height: 20px;
    background: url("../img/section-app-shadow.png") no-repeat;
    background-size: cover;
    opacity: 0;
    -webkit-transition: all 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .section-app-pattern {
    position: absolute;
    top: -30px;
    width: 100%;
    height: 180px;
    background: url("../img/section-app-pattern.png") repeat-x;
    background-size: auto;
    z-index: -200; }

/* section-app End */
/* section-press */
.section-press {
  padding: 140px 0 120px;
  background: url("../img/section-press-bg1.png");
  background-size: cover; }
  .section-press .row {
    margin-top: 45px; }
  .section-press .row:last-child {
    margin-top: 24px; }
  .section-press .press-wrapper {
    border: 1px solid #dedede;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05);
    -moz-box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05);
    box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05); }
  .section-press .img-wrapper {
    overflow: hidden;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px; }
  .section-press .content-wrapper {
    min-height: 260px;
    padding: 45px 40px 20px 35px;
    text-align: left;
    background-color: white;
    overflow: hidden;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0; }
  .section-press .content-img {
    margin-left: -25%;
    max-height: 260px; }
  .section-press .content-logo {
    height: 22px; }
  .section-press .content-summary {
    max-width: 200px;
    margin-top: 20px;
    font-size: 16px;
    color: #999; }
  .section-press .logo-besuccess {
    height: 32px;
    margin-top: -10px; }
  .section-press .logo-platum, .section-press .logo-chosunbiz {
    height: 27px;
    margin-top: -5px; }
  .section-press .press-wrapper.col.col-6 {
    width: 49%; }
  .section-press .press-wrapper.col.col-6:last-child {
    margin-left: 2%; }
  .section-press .press-wrapper.col.col-9 {
    width: 73.5%; }
  .section-press .press-wrapper.col.col-3 {
    width: 24.5%;
    margin-left: 2%; }

/* section-press End */
/* section-hiring */
.section-hiring {
  background: url("../img/section-hiring-bg1.png") no-repeat;
  background-position: center;
  background-size: cover; }
  .section-hiring .header-wrapper {
    float: left;
    text-align: left; }
    .section-hiring .header-wrapper .header-description {
      font-weight: 100;
      line-height: 1.6em;
      color: #222; }
    .section-hiring .header-wrapper .divider {
      margin: 28px 0 25px;
      background-color: #dedede; }
  .section-hiring .row-wrapper {
    margin-top: -30px; }
  .section-hiring .row {
    margin-top: 30px; }
  .section-hiring .row:last-child {
    margin-top: 24px; }
  .section-hiring .hiring-card {
    float: right;
    width: 29%;
    margin-left: 2.5%;
    padding: 50px 0 50px 30px;
    text-align: left;
    background-color: white;
    border: 1px solid #dedede;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05);
    -moz-box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05);
    box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05); }
  .section-hiring .hiring-team-wrapper {
    overflow: hidden; }
  .section-hiring .hiring-team {
    float: left;
    font-size: 16px;
    font-weight: 700; }
  .section-hiring .hiring-position {
    margin-top: 8px;
    font-size: 18px; }
    .section-hiring .hiring-position span {
      color: #999; }
  .section-hiring .empty {
    border: none;
    background: none;
    box-shadow: none; }

/* section-hiring End */
/* section-blog */
.section-blog {
  padding: 215px 0;
  background: url("../img/section-blog-bg1.jpg") no-repeat;
  background-position: center;
  background-size: cover; }
  .section-blog .header {
    color: white; }
  .section-blog .header-description {
    margin-top: 10px;
    font-weight: 100; }
  .section-blog .btn-wrapper {
    margin-top: 20px; }
  .section-blog .btn-round {
    color: white;
    border: 1px solid white; }
  .section-blog .btn-round:hover {
    background-color: rgba(255, 255, 255, 0.3); }

/* section-blog End */
/* seciton-contact */
.section-contact {
  position: relative;
  height: 500px;
  padding: 0; }
  .section-contact .map-wrapper {
    background-color: #999; }
  .section-contact .contact-wrapper {
    padding: 90px 0 0 70px;
    text-align: left;
    color: #222; }
    .section-contact .contact-wrapper .divider {
      margin: 30px 0;
      background-color: #dedede;
      opacity: 0.5; }
    .section-contact .contact-wrapper .address-wrapper {
      max-width: 400px; }
    .section-contact .contact-wrapper .address-kor {
      font-size: 16px; }
    .section-contact .contact-wrapper .address-eng {
      margin-top: 15px;
      font-size: 16px;
      font-weight: 100;
      color: #666; }
    .section-contact .contact-wrapper .info-list {
      margin-top: 35px;
      font-size: 16px;
      font-weight: 100;
      color: #666; }
      .section-contact .contact-wrapper .info-list-item:nth-child(n+1) {
        margin-top: 15px; }
      .section-contact .contact-wrapper .info-list .list-item-bold {
        margin-right: 20px;
        color: #ccc;
        font-weight: 300; }
      .section-contact .contact-wrapper .info-list .tel {
        margin-right: 40px; }

/* seciton-contact End */
/* wide */
@media (min-width: 1500px) {
  .section-press {
    height: 1020px; }
    .section-press .row {
      position: relative;
      margin-top: 45px; }
    .section-press .press-wrapper {
      border: 0;
      box-shadow: none; }
    .section-press .img-wrapper {
      position: absolute;
      width: 500px;
      height: 320px; }
    .section-press .content-wrapper {
      position: absolute;
      border: 1px solid #dedede;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px; }
    .section-press .content-img {
      margin: 0;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px; }
    .section-press .vogue {
      top: 30px;
      left: 100px; }
      .section-press .vogue-img-wrap {
        right: 0;
        z-index: 10; }
      .section-press .vogue-content-wrap {
        top: 40px;
        left: -160px;
        width: 610px; }
    .section-press .besuccess {
      top: 0;
      left: 20px; }
      .section-press .besuccess-img-wrap {
        left: 0; }
      .section-press .besuccess-content-wrap {
        top: 165px;
        width: 340px;
        min-height: 240px;
        z-index: 20; }
        .section-press .besuccess-content-wrap .content-summary {
          max-width: 280px; }
    .section-press .platum {
      top: 350px; }
      .section-press .platum-img-wrap {
        top: -30px;
        left: -10px;
        z-index: 10; }
      .section-press .platum-content-wrap {
        left: 120px;
        width: 610px;
        padding-left: 360px; }
    .section-press .chosunbiz {
      top: 335px;
      right: 100px;
      z-index: 10; }
      .section-press .chosunbiz-img-wrap {
        display: none; } }
/* wide End */
/* narrow */
@media (max-width: 850px) {
  .section-intro {
    height: 460px; }
    .section-intro .content-wrapper {
      max-width: 240px;
      margin: 205px auto 0; }
    .section-intro .btn-arrow {
      bottom: 25px;
      width: 26px;
      height: 26px;
      font-size: 14px;
      line-height: 24px; }
    .section-intro-video {
      width: auto;
      height: 460px; }

  .section-app {
    padding: 75px 0 30px;
    text-align: center;
    background: none; }
    .section-app .content-wrapper {
      padding: 0; }
    .section-app .content-header, .section-app .content-description {
      max-width: 300px;
      margin: 0 auto; }
    .section-app .content-description {
      margin-top: 15px; }
    .section-app-pattern {
      height: 120px;
      background-size: cover; }
    .section-app .iphone-wrapper {
      padding: 0; }
    .section-app .iphone-img {
      max-width: 312px;
      width: 100%;
      height: auto;
      margin-top: 15px; }
    .section-app .iphone-feed-wrapper {
      overflow: hidden; }
    .section-app .iphone-feed {
      position: absolute;
      top: 360px;
      left: -30px;
      width: 150%;
      height: 380px;
      background: url("../img/section-app-feed.png") no-repeat;
      background-size: 100%;
      z-index: -100; }

  .section-press-slider {
    padding: 50px 0 60px;
    text-align: center;
    border-top: 1px solid #f9f9f9;
    background: url("../img/section-press-bg1.png");
    background-size: cover; }
    .section-press-slider .container {
      padding: 0; }
    .section-press-slider .press-container {
      margin-top: 35px; }
    .section-press-slider .press-wrapper {
      text-align: left;
      border: 1px solid #dedede;
      background-color: white;
      overflow: hidden;
      box-sizing: border-box;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05);
      -moz-box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05);
      box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05); }
    .section-press-slider .img-wrapper {
      position: relative;
      height: 160px;
      overflow: hidden; }
    .section-press-slider .content-wrapper {
      height: 220px;
      padding: 30px; }
    .section-press-slider .content-img {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100% !important;
      height: auto;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    .section-press-slider .content-logo {
      width: auto !important;
      height: 18px; }
    .section-press-slider .content-summary {
      margin: 20px auto 0;
      font-size: 14px;
      color: #999; }
    .section-press-slider .logo-besuccess {
      height: 28px;
      margin-top: -10px; }
    .section-press-slider .logo-platum, .section-press-slider .logo-chosunbiz {
      height: 21px; }

  .section-hiring .container {
    padding: 0; }
  .section-hiring .header-wrapper {
    float: none;
    text-align: center; }
    .section-hiring .header-wrapper .divider {
      margin: 15px auto; }
    .section-hiring .header-wrapper .header-description {
      display: inline-block;
      max-width: 240px;
      margin-top: 10px; }
  .section-hiring .hiring-container {
    margin-top: 25px; }
  .section-hiring .hiring-card {
    float: none;
    width: 100%;
    margin: 0; }

  .section-blog {
    padding: 130px 0 120px; }
    .section-blog .header-description {
      max-width: 250px;
      margin: 10px auto 0;
      line-height: 1.65em; }

  .section-contact {
    height: auto; }
    .section-contact .map-wrapper {
      height: 350px; }
    .section-contact .contact-wrapper {
      padding: 50px 40px 70px; }
      .section-contact .contact-wrapper .divider {
        margin: 20px 0; }
      .section-contact .contact-wrapper .address-kor {
        font-size: 14px; }
      .section-contact .contact-wrapper .address-eng {
        font-size: 14px; }
      .section-contact .contact-wrapper .info-list {
        margin-top: 20px; }
        .section-contact .contact-wrapper .info-list-item {
          font-size: 14px; } }
/* narrow End */
/* section-app-feed size */
@media (max-width: 550px) {
  .section-app .iphone-feed {
    position: absolute;
    top: 420px;
    left: -30px;
    width: 170%;
    height: 380px;
    background: url("../img/section-app-feed.png") no-repeat;
    background-size: 100%;
    z-index: -100; } }
/* section-app-feed size End */
.sub-about {
  background: url("../img/section-about-bg.png");
  background-position: center;
  background-size: cover; }

.about-header {
  display: inline-block;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.4em;
  border-bottom: 2px solid #4adaaf; }
.about-content-wrapper {
  overflow: hidden; }
.about-content-wrapper:nth-child(n+2) {
  margin-top: 80px; }
.about-description:nth-child(n+2) {
  margin-top: 30px; }

.description-wrapper {
  margin-top: 85px;
  padding-left: 20px;
  overflow: hidden; }

.section-sub-about {
  padding: 90px 0;
  text-align: left; }
  .section-sub-about .container {
    max-width: 850px;
    margin: 0 auto; }
  .section-sub-about .shopping {
    border: none; }
    .section-sub-about .shopping .underline {
      border-bottom: 2px solid #4adaaf; }
  .section-sub-about .margin-amend {
    margin-top: 115px; }

.section-sub-believe {
  padding: 90px 0 100px;
  text-align: left;
  background: url("../img/about-believe-bg.png");
  background-size: cover;
  background-position: center; }
  .section-sub-believe .container {
    max-width: 850px;
    margin: 0 auto; }
  .section-sub-believe .believe-content-wrapper {
    margin-top: 35px;
    border-top: 1px solid #dedede; }
  .section-sub-believe .about-sub-header {
    display: inline-block;
    margin-top: 45px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2px solid #ccc; }
  .section-sub-believe .about-sub-header:nth-child(n+2) {
    margin-top: 55px; }
  .section-sub-believe .mission-img-wrapper {
    margin-top: 45px; }
  .section-sub-believe .mission-img {
    width: 100%;
    height: auto; }
  .section-sub-believe .mission-list {
    margin-top: 50px;
    font-size: 15px;
    line-height: 1.6em;
    overflow: hidden; }
    .section-sub-believe .mission-list-item {
      padding: 0 10px 0 10px; }
    .section-sub-believe .mission-list-item:first-child {
      padding: 0 20px 0 0; }
    .section-sub-believe .mission-list-item:last-child {
      padding: 0 0 0 20px; }
  .section-sub-believe .mission-list-header {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #4adaaf; }

.section-sub-history {
  padding: 90px 0 100px;
  text-align: left; }
  .section-sub-history .container {
    max-width: 850px;
    margin: 0 auto; }
  .section-sub-history .description-wrapper {
    margin-top: 60px; }
  .section-sub-history .history-wrapper {
    position: relative;
    padding-bottom: 60px; }
  .section-sub-history .history-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 83px;
    bottom: 0;
    width: 1px;
    background-color: #dedede; }
  .section-sub-history .history-date {
    font-size: 16px; }
  .section-sub-history .history-list {
    position: relative;
    margin-top: 60px;
    font-size: 22px;
    font-weight: 300; }
    .section-sub-history .history-list-item {
      position: relative;
      margin-top: 40px;
      margin-left: 110px; }
    .section-sub-history .history-list-item:before {
      content: '';
      position: absolute;
      top: 8px;
      left: -31px;
      width: 10px;
      height: 10px;
      background-color: #ccc;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
  .section-sub-history .history-list:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 77px;
    width: 14px;
    height: 14px;
    border: 1px solid #4adaaf;
    background-color: white;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px; }
  .section-sub-history .history-list:first-child {
    margin-top: 70px; }
  .section-sub-history .history-body {
    font-size: 16px;
    color: #999; }

@media (max-width: 850px) {
  .about-header {
    font-size: 18px; }
  .about-description {
    margin-top: 20px;
    padding: 0; }
  .about-description:nth-child(n+2) {
    margin-top: 15px; }

  .section-sub-about {
    padding: 50px 0 0; }
    .section-sub-about .container {
      padding: 0 35px; }
    .section-sub-about .about-content-wrapper {
      margin-top: 50px; }
      .section-sub-about .about-content-wrapper .about-header {
        margin-top: 40px; }
      .section-sub-about .about-content-wrapper .about-header:first-child {
        margin-top: 0; }
    .section-sub-about .about-content-wrapper:first-child {
      margin: 0; }
    .section-sub-about .description-wrapper {
      margin-top: 0;
      padding: 0; }
    .section-sub-about .shopping {
      border-bottom: 2px solid #4adaaf; }
      .section-sub-about .shopping .underline {
        border: none; }

  .section-sub-believe {
    padding: 70px 0; }
    .section-sub-believe .container {
      padding: 0 35px; }
    .section-sub-believe .description-wrapper {
      margin: 0px;
      padding: 0; }
    .section-sub-believe .believe-content-wrapper {
      margin-top: 25px; }
    .section-sub-believe .about-sub-header {
      margin-top: 25px;
      font-size: 16px; }
    .section-sub-believe .about-sub-header:nth-child(n+2) {
      margin-top: 25px; }
    .section-sub-believe .mission-img-wrapper {
      margin-top: 30px; }
    .section-sub-believe .mission-list {
      margin-top: 15px; }
      .section-sub-believe .mission-list-item {
        margin-top: 15px;
        padding: 0; }
      .section-sub-believe .mission-list-item:first-child {
        padding: 0; }
      .section-sub-believe .mission-list-item:last-child {
        padding: 0; }
      .section-sub-believe .mission-list-header {
        font-size: 17px;
        margin-bottom: 6px; }

  .section-sub-history {
    padding: 60px 0; }
    .section-sub-history .container {
      padding: 0 35px; }
    .section-sub-history .description-wrapper {
      margin: 0;
      padding: 0; }
    .section-sub-history .history-wrapper {
      padding: 0; }
    .section-sub-history .history-wrapper:before {
      left: 73px; }
    .section-sub-history .history-list {
      padding-top: 3px;
      font-size: 18px; }
      .section-sub-history .history-list-item {
        margin-left: 100px; }
      .section-sub-history .history-list-item:before {
        top: 6px; }
    .section-sub-history .history-list:before {
      left: 67px; }
    .section-sub-history .history-list:first-child {
      margin-top: 50px; }
    .section-sub-history .history-date {
      font-size: 14px; }
    .section-sub-history .history-body {
      font-size: 14px; } }
.sub-team {
  background: url("../img/section-team-bg.png");
  background-position: center;
  background-size: cover; }

.section-talent {
  padding: 30px 0 25px;
  text-align: left; }
  .section-talent .row {
    margin-top: 30px; }
  .section-talent .row:last-child {
    margin-top: 20px; }
  .section-talent .talent-container {
    padding: 55px 40px 50px;
    border: 1px solid #4adaaf;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .section-talent .header {
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    color: #222;
    border-bottom: 2px solid #4adaaf; }
    .section-talent .header-wrapper {
      padding-left: 25px; }
  .section-talent .talent-wrapper {
    padding: 25px; }
  .section-talent .talent-num {
    margin-right: 10px;
    font-weight: 300;
    color: #4adaaf; }
  .section-talent .talent-header {
    padding: 0 6px;
    font-size: 18px;
    font-weight: 300; }
  .section-talent .talent-description {
    padding: 0 6px;
    font-size: 16px;
    color: #999; }
  .section-talent .divider {
    width: 100%;
    height: 1px;
    margin: 10px auto;
    background-color: #dedede; }

.section-member {
  padding: 0 0 70px; }
  .section-member .member-wrapper {
    width: 31.9%;
    margin-bottom: 25px;
    border: 1px solid #dedede;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05);
    -moz-box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05);
    box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05); }
  .section-member .member-img {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden; }
    .section-member .member-img img {
      position: absolute;
      top: 0;
      left: 50%;
      width: auto;
      height: 260px;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  .section-member .member-name-wrapper {
    overflow: hidden; }
  .section-member .member-name {
    float: left;
    font-size: 18px;
    font-weight: 700; }
  .section-member .member-position {
    float: left;
    margin-top: 2px;
    margin-left: 6px;
    font-size: 14px;
    font-weight: 100;
    color: #999; }
  .section-member .member-content-wrapper {
    padding: 30px; }
  .section-member .member-content {
    font-size: 16px;
    text-align: left;
    word-break: normal; }
  .section-member .divider {
    margin: 16px 0px 14px;
    width: 100%;
    height: 1px;
    background-color: #dedede; }

@media (max-width: 1170px) {
  .section-member .member-wrapper {
    width: 48.5%; }
  .section-member .member-img {
    height: 270px; }
  .section-member .member-img img {
    height: 285px; } }
@media (max-width: 850px) {
  .section-talent {
    padding: 20px 0; }
    .section-talent .row {
      margin-top: 15px; }
    .section-talent .row:last-child {
      margin-top: 0; }
    .section-talent .header {
      font-size: 18px; }
    .section-talent .talent-container {
      padding: 30px 0 25px; }
    .section-talent .talent-wrapper {
      padding: 25px; }
    .section-talent .talent-header {
      font-size: 16px; }
    .section-talent .talent-description {
      font-size: 14px; }

  .section-member .member-wrapper {
    width: 100%;
    margin-bottom: 15px; }
  .section-member .member-img {
    height: 220px; }
    .section-member .member-img img {
      width: auto;
      height: 240px; }
  .section-member .member-name {
    font-size: 16px; }
  .section-member .member-content {
    font-size: 14px; } }
.sub-job {
  background: url("../img/section-job-bg.png");
  background-position: center;
  background-size: cover; }

.section-hiring-process {
  padding: 30px 0;
  text-align: left; }
  .section-hiring-process .header {
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    color: #222;
    border-bottom: 2px solid #4adaaf; }
    .section-hiring-process .header-wrapper {
      padding-left: 25px; }
  .section-hiring-process .row {
    margin-top: 30px; }
  .section-hiring-process .process-container {
    padding: 55px 40px 50px;
    border: 1px solid #4adaaf;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .section-hiring-process .process-wrapper {
    padding: 25px; }
  .section-hiring-process .process-num {
    margin-right: 10px;
    font-weight: 300;
    color: #4adaaf; }
  .section-hiring-process .process-header {
    padding: 0 6px;
    font-size: 18px;
    font-weight: 300; }
  .section-hiring-process .process-description {
    padding: 0 6px;
    font-size: 16px;
    color: #999; }
  .section-hiring-process .process-footnote {
    display: inline-block;
    margin-top: 30px;
    padding: 0 25px;
    font-size: 14px;
    color: #999; }
  .section-hiring-process .divider {
    width: 100%;
    height: 1px;
    margin: 10px auto;
    background-color: #dedede; }

.section-job-table {
  padding: 0 0 80px; }
  .section-job-table .job-table {
    width: 100%;
    font-size: 16px; }
    .section-job-table .job-table-content {
      background-color: #f7f7f7; }
    .section-job-table .job-table .table-content-wrapper {
      padding: 20px 30px 70px; }
    .section-job-table .job-table .content-wrapper {
      margin-top: 50px; }
    .section-job-table .job-table .content-header {
      display: inline-block;
      font-size: 18px;
      font-weight: 700;
      border-bottom: 2px solid #dedede; }
    .section-job-table .job-table .content-description {
      margin-top: 20px;
      font-size: 16px;
      font-weight: 100; }
    .section-job-table .job-table .content-description:last-child {
      margin-top: 8px; }
    .section-job-table .job-table .content-list {
      margin-top: 25px;
      padding-left: 20px; }
      .section-job-table .job-table .content-list-item {
        max-width: 600px;
        margin-top: 16px;
        font-size: 16px;
        line-height: 1.6em;
        list-style-type: initial; }
        .section-job-table .job-table .content-list-item .item-sub-body {
          margin-top: 6px;
          font-size: 16px;
          font-weight: 100; }
    .section-job-table .job-table .content-sub-list {
      padding-left: 20px; }
      .section-job-table .job-table .content-sub-list-item {
        margin-top: 12px;
        list-style-type: circle; }
    .section-job-table .job-table thead tr {
      height: 60px;
      min-height: 60px;
      border-top: 1px solid #dedede;
      border-bottom: 1px solid #dedede; }
      .section-job-table .job-table thead tr th {
        padding: 0 30px;
        text-align: left;
        vertical-align: middle; }
    .section-job-table .job-table tbody tr {
      height: 60px;
      min-height: 60px;
      border-bottom: 1px solid #dedede;
      transition: 0.2s all ease; }
      .section-job-table .job-table tbody tr td {
        padding: 0 30px;
        font-weight: 100;
        text-align: left;
        vertical-align: middle; }
    .section-job-table .job-table tbody tr:hover {
      background-color: #f9fefc; }
    .section-job-table .job-table .table-list-view {
      display: none; }

@media (max-width: 850px) {
  .section-hiring-process {
    padding: 20px 0; }
    .section-hiring-process .row {
      margin-top: 15px; }
    .section-hiring-process .row:last-child {
      margin-top: 0; }
    .section-hiring-process .header {
      font-size: 18px; }
    .section-hiring-process .process-container {
      padding: 30px 0 25px; }
    .section-hiring-process .process-wrapper {
      padding: 25px; }
    .section-hiring-process .process-header {
      font-size: 16px; }
    .section-hiring-process .process-description {
      font-size: 14px; }
    .section-hiring-process .process-footnote {
      margin-top: 10px;
      font-size: 12px; }

  .section-job-table .job-table {
    font-size: 14px;
    line-height: 1.4em; }
    .section-job-table .job-table .table-content-wrapper {
      padding: 0 10px 30px; }
    .section-job-table .job-table .content-wrapper {
      margin-top: 40px; }
    .section-job-table .job-table .content-wrapper:first-child {
      margin-top: 30px; }
    .section-job-table .job-table .content-header {
      font-size: 16px; }
    .section-job-table .job-table .content-description {
      margin-top: 15px;
      font-size: 14px; }
    .section-job-table .job-table .content-list {
      margin-top: 15px; }
      .section-job-table .job-table .content-list-item {
        font-size: 14px; }
        .section-job-table .job-table .content-list-item .item-sub-body {
          font-size: 14px; }
    .section-job-table .job-table thead tr th {
      padding: 0 6px; }
    .section-job-table .job-table tbody tr td {
      padding: 15px 6px; } }
.sub-press {
  background: url("../img/section-press-bg.png");
  background-position: center;
  background-size: cover; }

.section-sub-press {
  padding: 15px 0 40px; }
  .section-sub-press .press-page {
    display: none; }
  .section-sub-press .press-container {
    padding: 15px; }
  .section-sub-press .press-wrapper {
    padding: 50px 40px;
    text-align: left;
    border: 1px solid #dedede;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05);
    -moz-box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05);
    box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05); }
  .section-sub-press .press-date-wrapper {
    overflow: hidden; }
  .section-sub-press .press-company {
    float: left;
    font-size: 14px;
    font-weight: 300;
    color: #ccc; }
  .section-sub-press .press-date {
    float: left;
    margin-left: 8px;
    font-size: 14px;
    color: #ccc; }
  .section-sub-press .press-header {
    margin-top: 22px;
    font-size: 18px;
    font-weight: 700; }
  .section-sub-press .press-content {
    margin-top: 16px;
    font-size: 16px;
    color: #666;
    word-break: normal; }
  .section-sub-press .btn-wrapper {
    margin-top: 20px; }
  .section-sub-press .pagenation-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 40px;
    font-size: 16px;
    text-align: center;
    overflow: hidden; }
    .section-sub-press .pagenation-wrapper .page-prev {
      float: left;
      padding: 14px 20px; }
    .section-sub-press .pagenation-wrapper .page-next {
      float: right;
      padding: 14px 20px; }
    .section-sub-press .pagenation-wrapper .page-list {
      margin: 0 auto;
      clear: both;
      overflow: hidden; }
      .section-sub-press .pagenation-wrapper .page-list-item {
        float: left;
        padding: 14px 20px;
        font-weight: 100;
        color: #ccc; }
      .section-sub-press .pagenation-wrapper .page-list-item:hover, .section-sub-press .pagenation-wrapper .page-list .page-prev:hover, .section-sub-press .pagenation-wrapper .page-list .page-next:hover {
        background-color: #f7f7f7; }
      .section-sub-press .pagenation-wrapper .page-list .active {
        font-weight: 300;
        color: #222;
        border-bottom: 2px solid #ccc; }
      .section-sub-press .pagenation-wrapper .page-list .active:hover {
        background-color: #f7f7f7; }
    .section-sub-press .pagenation-wrapper .inline-list {
      display: inline-block; }
  .section-sub-press .show {
    display: block; }
  .section-sub-press .disabled {
    color: #dedede; }

@media (max-width: 850px) {
  .section-sub-press {
    padding: 10px 0 40px; }
    .section-sub-press .press-container {
      padding: 10px 0; }
    .section-sub-press .press-wrapper {
      padding: 45px 35px 40px; }
    .section-sub-press .press-header {
      margin-top: 12px;
      line-height: 1.5em;
      font-size: 16px; }
    .section-sub-press .press-content {
      margin-top: 10px;
      font-size: 14px; }
    .section-sub-press .pagenation-wrapper {
      padding-top: 0px; } }
.section-sub-contact .header, .section-sub-address .header {
  display: inline-block;
  font-size: 25px;
  font-weight: 700;
  color: #222;
  border-bottom: 2px solid #4adaaf; }

.sub-contact {
  background: url("../img/section-contact-bg.png") no-repeat;
  background-size: cover;
  background-position: center; }

.section-sub-contact {
  padding: 30px 0; }
  .section-sub-contact .cowork-container {
    padding: 35px 40px 30px;
    text-align: left;
    border: 1px solid #4adaaf;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .section-sub-contact .cowork-wrapper {
    padding: 25px; }
  .section-sub-contact .cowork-body-wrapper {
    margin-top: 25px; }
  .section-sub-contact .cowork-body {
    font-size: 16px; }
  .section-sub-contact .btn-round:nth-child(n+2) {
    margin-left: 12px; }

.section-sub-address {
  position: relative;
  padding: 30px 25px 60px;
  text-align: left; }
  .section-sub-address .email-container {
    position: relative;
    padding: 0 25px 0 65px; }
  .section-sub-address .address-container {
    padding: 0 25px; }
  .section-sub-address .email-wrapper {
    margin-top: 25px; }
  .section-sub-address .email-description {
    max-width: 350px;
    font-size: 16px; }
  .section-sub-address .email-list {
    margin-top: 15px;
    padding-left: 30px; }
    .section-sub-address .email-list-item {
      margin-top: 6px;
      list-style-type: initial; }
  .section-sub-address .email-team {
    display: inline-block;
    width: 80px;
    font-size: 16px; }
  .section-sub-address .email-body {
    display: inline-block;
    font-size: 16px; }
  .section-sub-address .address-wrapper {
    margin-top: 25px; }
  .section-sub-address .address-body-kor {
    max-width: 400px;
    font-size: 16px; }
  .section-sub-address .address-body-eng {
    max-width: 400px;
    margin-top: 14px;
    font-size: 16px;
    font-weight: 100;
    color: #666; }

.contact-map-wrapper {
  position: relative;
  height: 600px; }

@media (max-width: 850px) {
  .section-sub-contact {
    padding: 20px 0; }
    .section-sub-contact .header {
      font-size: 18px; }
    .section-sub-contact .cowork-container {
      padding: 20px 0; }
    .section-sub-contact .cowork-wrapper {
      padding: 10px 25px; }
    .section-sub-contact .cowork-wrapper:last-child {
      padding-top: 25px; }
    .section-sub-contact .cowork-header {
      font-size: 16px; }
    .section-sub-contact .cowork-body-wrapper {
      margin-top: 20px; }
    .section-sub-contact .cowork-body {
      font-size: 14px; }

  .section-sub-address .header {
    font-size: 18px; }
  .section-sub-address .email-container {
    padding: 0; }
  .section-sub-address .email-wrapper {
    margin-top: 20px; }
  .section-sub-address .email-description {
    max-width: 100%;
    font-size: 14px; }
  .section-sub-address .email-list {
    margin-top: 10px; }
  .section-sub-address .email-team {
    font-size: 14px; }
  .section-sub-address .email-body {
    font-size: 14px; }
  .section-sub-address .address-container {
    margin-top: 35px;
    padding: 0; }
  .section-sub-address .address-wrapper {
    margin-top: 20px; }
  .section-sub-address .address-body-kor {
    font-size: 14px; }
  .section-sub-address .address-body-eng {
    margin-top: 10px;
    font-size: 14px; }

  .contact-map-wrapper {
    height: 300px; } }

/*# sourceMappingURL=style.css.map */
