.sub-team {
  background: url('../img/section-team-bg.png');
  background-position: center;
  background-size: cover;
}

.section-talent {
  padding: 30px 0 25px;
  text-align: left;
  .row { margin-top: 30px; }
  .row:last-child { margin-top: 20px; }
  .talent-container {
    padding: 55px 40px 50px;
    border: 1px solid $primary;
    overflow: hidden;
    @include border-radius(4px);
  }
  .header {
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    color: $black;
    border-bottom: 2px solid $primary;
    &-wrapper {
      padding-left: 25px;
    }
  }
  .talent {
    &-wrapper {
      padding: 25px;
    }
    &-num {
      margin-right: 10px;
      font-weight: 300;
      color: $primary;
    }
    &-header {
      padding: 0 6px;
      font-size: 18px;
      font-weight: 300;
    }
    &-description {
      padding: 0 6px;
      font-size: 16px;
      color: $gray;
    }
  }
  .divider {
    width: 100%;
    height: 1px;
    margin: 10px auto;
    background-color: $border;
  }
}

.section-member {
  padding: 0 0 70px;
  .member {
    &-wrapper {
      width: 31.9%;
      margin-bottom: 25px;
      border: 1px solid $border;
      overflow: hidden;
      @include border-radius(4px);
      @include shadow;
    }
    &-img {
      position: relative;
      width: 100%;
      height: 250px;
      overflow: hidden;
      img {
        position: absolute;
        top: 0; left: 50%;
        width: auto;
        height: 260px;
        -webkit-transform: translateX(-50%);
           -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
      }
    }
    &-name-wrapper { overflow: hidden; }
    &-name {
      float: left;
      font-size: 18px;
      font-weight: 700;
    }
    &-position {
      float: left;
      margin-top: 2px;
      margin-left: 6px;
      font-size: 14px;
      font-weight: 100;
      color: $gray;
    }
    &-content-wrapper { padding: 30px; }
    &-content {
      font-size: 16px;
      text-align: left;
      word-break: normal;
    }
  }
  .divider {
    margin: 16px 0px 14px;
    width: 100%;
    height: 1px;
    background-color: $border;
  }
}

// middle

@include respond-to('middle') {
  .section-member {
    .member-wrapper { width: 48.5%; }
    .member-img { height: 270px; }
    .member-img img { height: 285px; }
  }
}

// narrow

@include respond-to('narrow') {
  .section-talent {
    padding: 20px 0;
    .row { margin-top: 15px; }
    .row:last-child { margin-top: 0; }
    .header { font-size: 18px; }
    .talent {
      &-container { padding: 30px 0 25px; }
      &-wrapper { padding: 25px; }
      &-header { font-size: 16px; }
      &-description { font-size: 14px; }
    }
  }
  .section-member {
    .member {
      &-wrapper {
        width: 100%;
        margin-bottom: 15px;
      }
      &-img { height: 220px;
        img { width: auto; height: 240px; }
      }
      &-name { font-size: 16px; }
      &-content { font-size: 14px; }
    }
  }
}
