<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="description" content="About StyleShare page">
<meta name="author" content="StyleShare Inc.">

{% if page.title %}
  {% assign page_title = page.title %}
{% else %}
  {% assign page_title = 'About StyleShare' %}
{% endif %}

<meta property="og:title" content="{{ page_title }}">
<meta property="og:description"
  {% if page.og_description %}
    content="{{ page.og_description }}"
  {% else %}
    content="{{ include.og_description }}"
  {% endif %}
>
<meta property="og:site_name" content="About StyleShare">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image"
  {% if page.og_image %}
    content="{{ site.url }}/img/{{ page.og_image }}"
  {% else %}
    content="{{ site.url }}/img/og_image.png"
  {% endif %}
>

<title>
  {{ page_title }} &middot; StyleShare
</title>

<link href="//fonts.googleapis.com/css?family=PT+Sans:400italic,400,700italic,700" rel="stylesheet" type="text/css">

<!-- Bootstrap core CSS -->
<!--[if lt IE 9]>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/styles_IE.css">
<![endif]-->
<!--[if gte IE 9]><!-->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
<!--><![endif]-->

<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css">

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" href="/ico/icon.png">
<link rel="shortcut icon" href="/ico/favicon.ico">
