---
layout: subpage.en
title: Introduction to StyleShare
headTitle: Our Team & Culture
---

<div class="col-md-4 ss-right margin-bottom4 span12">
  <div class="ss-sidebar">
    <ul class="nav navbar">
      <li>
        <a href="#our-team">1. Our team</a>
      </li>
      <li>
        <a href="#wanted">2. StyleShare's Team Culture</a>
      </li>
    </ul>
  </div>
</div>

<div class="col-md-8 padding-left0">

  <span class="ss-hidden ss-hashtag" id="our-team" name="our-team"></span>
  <p class="ss-header">Our team</p>

  <p class="margin-top6 margin-bottom0">
    The StyleShare team (software development, design, marketing, content management, data analysis, community management, service planning) consists of a group of talented young upbeat individuals.
  </p>

  <div class="ss-team-wrapper">
    {% for team in site.data.team_en %}
      <div class="ss-team">
        <p class="ss-team-name">{{ team.teamName }}</p>
        <div>
          {% for member in team.members %}
            <div class="ss-team-member clearfix">
              <div class="ss-member-image selfie-sprite {{ member.selfie }}">
                <img class="ss-member-thumbnail" src="/img/photo/{{ member.selfie }}.png">
              </div>
              <div class="ss-member-information-wrapper">
                <div class="ss-member-information">
                  <div>
                    <span class="ss-member-name">{{ member.name }}</span>
                    <span class="ss-member-title">{{ member.job }}</span>
                  </div>

                  <p class="ss-memeber-description">
                    {{ member.about }}
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>

  <span class="ss-hidden ss-hashtag" id="wanted" name="wanted"></span>
  <p class="ss-header margin-top10">StyleShare's Team Culture</p>

  <p class="margin-bottom0">StyleShare wants to work with individuals who possess the values listed below. At the end of the year, the member who epitomizes these values will be awarded with the StyleShare Award.</p>

  <ul class="ss-no-list-style">
    <li class="margin-top4">
      <p class="ss-emphasis margin-bottom0">1. The Customer is King</p>
      <p>Prioritizes and Aims for User Satisfaction</p>
    </li>
    <li class="margin-top4">
      <p class="ss-emphasis margin-bottom0">2. Active Learner</p>
      <p>Always looking to learn and grow both as an individual and as a team</p>
    </li>
    <li class="margin-top4">
      <p class="ss-emphasis margin-bottom0">3. ”It's OK to be Wrong”</p>
      <p>Puts their ego at the door</p>
    </li>
    <li class="margin-top4">
      <p class="ss-emphasis margin-bottom0">4. The Team Player</p>
      <p>Synergy, there is no 'I' in 'TEAM'</p>
    </li>
    <li class="margin-top4">
      <p class="ss-emphasis margin-bottom0">5. The Steady turtle</p>
      <p>Consistently creating output</p>
    </li>
    <li class="margin-top4">
      <p class="ss-emphasis margin-bottom0">6. Make it happen<br />
      <p>Bringing about results are just as important as starting and finishing </p>
    </li>
    <li class="margin-top4">
      <p class="ss-emphasis margin-bottom0">7. Care Giver<br />
      <p>All for one and one for all</p>
    </li>
  </ul>

</div>
